#tag,
#searchBox {
    text-transform: lowercase;
}

//Create Snippet Section
.createSnippet {
    background: #fff;
    padding: 40px;
    margin: 40px 0;
    @media (max-width: 440px){
        padding: 20px;
    }
    form{
        display: flex;
        @media (max-width: 800px){
            flex-direction: column;
        }        
        label {
            margin-bottom: 10px;
        }
        input {
            border: 1px solid rgba(0,0,0,0.3);
            padding: 5px;
        }
    }
    .fields {
        width: 30%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        @media (max-width: 900px){
            width: 40%;
        }
        @media (max-width: 800px){
            margin-right: 0;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between
        }  
        @media (max-width: 600px){
            flex-direction: column;
            flex-wrap: none;
        }
    }
    .editor {
        width: 60%;
        @media (max-width: 900px){
            width: 50%;
        }
        @media (max-width: 800px){
            width: 100%;
            display: flex;
            flex-direction: column;

        }  
    }
    h2 {
        text-align: center;
        margin-top: 0;
        
        @media (max-width: 440px){
            font-size: 2rem;
        }
    }
    button {
        margin-top: 20px;
        @media (max-width: 800px) {
            align-self: center;
        }
    }

    .title,
    .tag,
    .description,
    .mode {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        @media (max-width: 800px){
            width: 45%
        }
        @media (max-width: 600px){
            width: 100%
        }
    }
    #makeSnippet{
        margin-top: 10px;
    }
    p {
        font-style: italic;
    }
}

