.searchStyle {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    input {
        align-self: flex-start;
        margin-top: 10px 20px 0 0;
    }
}

.snippetList {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    grid-row-gap: 40px;
    margin-bottom: 40px;
    li{
        border: 1px solid black;
        border-radius: 2px;
        padding: 20px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-weight: bold;
        }
        img {
            width: 80px;
        }
    }
    h4 {
        margin-top: 0;
        font-weight: bold;
    }
}

.mySnips {
    text-align: center;
}

.searchByTag {
    margin-bottom: 20px;
    display: flex;
    button {
        align-self: flex-end;
    }
    label {
        margin: 0 0 10px 0;
    }
}


