.welcome {
    border: 1px solid black;
    border-radius: 3px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 500;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    h3 {
        text-align: center;
    }
    p {
        line-height: 2.5rem;
    }
}